<div class='panel panel-success'>
	<div class="panel-heading">
		<h2>Registro de Entrenador Pokemón</h2>
	</div>
	<div class='panel-body'>
		<form action='Usuarios/registrarUsuario' method="'post" class="form-singin">
			<div>
				<label for="nombreNuevoUsuario">Nombre:</label>
				<input type="text" class="form-control" id="nombreNuevoUsuario" name="nombre" required placeholder="Ej. Ash Ketchum">
				<label for="nuevoUsuario">Usuario:</label>
				<input type="text" class="form-control" id="nuevoUsuario" name="usuario" required placeholder="Ash">
			</div>
			<div class="form-group">
				<label for="passwordNuevoUsuario">Contraseña:</label>
				<input type="password" class="form-control" id="passwordNuevoUsuario" name="password" required placeholder="*****">
			</div>

			<br>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Registrarse</button>
			</div>
		</form>
		
	</div>
</div>