<div class="panel panel-danger">
	<div class="panel-heading">
		<h2>Registrar Pokemón</h2>
	</div>
	<div class="panel-body">
		<form action="Pokemon/registrarPokemon" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="nombrePokemon">Nombre:</label>
				<input type="text" class="form-control" id="nombrePokemon" name="nombre" required>
			</div>

			<div class="form-group">
				<label for="tipo">Tipo Uno:</label>
				<select class="form-control" id="tipo" name="tipo">
					<option>Acero</option>
					<option>Agua</option>
					<option>Bicho</option>
					<option>Dragón</option>
					<option>Eléctrico</option>
					<option>Fantasma</option>
					<option>Fuego</option>
					<option>Hada</option>
					<option>Hielo</option>
					<option>Lucha</option>
					<option>Normal</option>
					<option>Planta</option>
					<option>Psiquico</option>
					<option>Roca</option>
					<option>Siniestro</option>
					<option>Tierra</option>
					<option>Veneno</option>
					<option>Volador</option>
					<option>Oscuro</option>
					<option>???</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="tipo2">Tipo Dos:</label>
				<select class="form-control" id="tipo2" name="tipo2">
				<option> </option>
					<option>Acero</option>
					<option>Agua</option>
					<option>Bicho</option>
					<option>Dragón</option>
					<option>Eléctrico</option>
					<option>Fantasma</option>
					<option>Fuego</option>
					<option>Hada</option>
					<option>Hielo</option>
					<option>Lucha</option>
					<option>Normal</option>
					<option>Planta</option>
					<option>Psiquico</option>
					<option>Roca</option>
					<option>Siniestro</option>
					<option>Tierra</option>
					<option>Veneno</option>
					<option>Volador</option>
					<option>Oscuro</option>
					<option>???</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="debilidad">Debilidad uno:</label>
				<select class="form-control" id="debilidad" name="debilidad">
					<option>Acero</option>
					<option>Agua</option>
					<option>Bicho</option>
					<option>Dragón</option>
					<option>Eléctrico</option>
					<option>Fantasma</option>
					<option>Fuego</option>
					<option>Hada</option>
					<option>Hielo</option>
					<option>Lucha</option>
					<option>Normal</option>
					<option>Planta</option>
					<option>Psiquico</option>
					<option>Roca</option>
					<option>Siniestro</option>
					<option>Tierra</option>
					<option>Veneno</option>
					<option>Volador</option>
					<option>Oscuro</option>
					<option>???</option>
				</select>
			</div>
			<div class="form-group">
				<label for="debilidad2">Debilidad dos:</label>
				<select class="form-control" id="debilidad2" name="debilidad2">
				<option> </option>
					<option>Acero</option>
					<option>Agua</option>
					<option>Bicho</option>
					<option>Dragón</option>
					<option>Eléctrico</option>
					<option>Fantasma</option>
					<option>Fuego</option>
					<option>Hada</option>
					<option>Hielo</option>
					<option>Lucha</option>
					<option>Normal</option>
					<option>Planta</option>
					<option>Psiquico</option>
					<option>Roca</option>
					<option>Siniestro</option>
					<option>Tierra</option>
					<option>Veneno</option>
					<option>Volador</option>
					<option>Oscuro</option>
					<option>???</option>
				</select>
			</div>
			<div class="form-group">
				<label for="debilidad3">Debilidad tres:</label>
				<select class="form-control" id="debilidad3" name="debilidad3">
				<option> </option>
					<option>Acero</option>
					<option>Agua</option>
					<option>Bicho</option>
					<option>Dragón</option>
					<option>Eléctrico</option>
					<option>Fantasma</option>
					<option>Fuego</option>
					<option>Hada</option>
					<option>Hielo</option>
					<option>Lucha</option>
					<option>Normal</option>
					<option>Planta</option>
					<option>Psiquico</option>
					<option>Roca</option>
					<option>Siniestro</option>
					<option>Tierra</option>
					<option>Veneno</option>
					<option>Volador</option>
					<option>Oscuro</option>
					<option>???</option>
				</select>
			</div>
			<div class="form-group">
				<label for="debilidad4">Debilidad cuatro:</label>
				<select class="form-control" id="debilidad4" name="debilidad4">
				<option> </option>
					<option>Acero</option>
					<option>Agua</option>
					<option>Bicho</option>
					<option>Dragón</option>
					<option>Eléctrico</option>
					<option>Fantasma</option>
					<option>Fuego</option>
					<option>Hada</option>
					<option>Hielo</option>
					<option>Lucha</option>
					<option>Normal</option>
					<option>Planta</option>
					<option>Psiquico</option>
					<option>Roca</option>
					<option>Siniestro</option>
					<option>Tierra</option>
					<option>Veneno</option>
					<option>Volador</option>
					<option>Oscuro</option>
					<option>???</option>
				</select>
			</div>
			<div class="form-group">
				<label for="habilidad">Habilidad Especial:</label>
				<input type="text" class="form-control" id="habilidad" name="habilidadEspecial" required>
			</div>
			<div class="form-group">
				<input class="btn btn-info" type="file" name="perfil">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-danger">Agregar Pokemón</button>
			</div>
		</form>
	</div>
</div>