<div class="jumbotron">
  <h1>Bienvenidos a Pokemon-facebook!</h1>
  <img src="/images/portada.png" alt="Portada de la página">
  <p><a class="btn btn-primary btn-lg" href="login" role="button">Inicie Sesion</a></p>
</div>