<h1>Login Entrenador</h1>
<p>Ingrese sus datos:</p>
<form class="form-group center-block" method="post" action="auth/login">
	<label>Usuario:</label>
	<input class="form-control" type="text" name="usuario">
	<label>Password:</label>
	<input class="form-control" type="password" name="password">
	<br>
	<button type="submit" class="btn btn-success">Ingresar</button>
</form>
<div align="right">
<a href="formularioUsuario" action='formulario'>
		<button class="btn btn-warning">Registrar</button>
	</a>
	</div>